body {
  background-color: cyan;
  display: flex;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.gameboy {
  width: 350px;
  background-color: white;
  height: 500px;
  border-radius: 10px 10px 60px 10px;
}

.gameboy .screen {
  height: 40%;
  width: 80%;
  background-color: #787878;
  margin: 10% auto 0;
  border-radius: 5px 5px 35px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameboy .inner-screen {
  background-color: #beb057;
  height: 70%;
  width: 65%;
}

.gameboy .battery {
  position: relative;
  left: -25px;
  top: -30px;
  display: flex;
  justify-content: center;
}

.gameboy .battery-indicator {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #b28080;
  position: absolute;
}

.gameboy .battery-text {
  color: white;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 100;
  top: 5px;
  position: absolute;
}

/* Temporary styles */
.gameboy .buttons {
  display: flex;
  height: 20px;
  justify-content: space-between;
  margin: 60px 35px 0px;
}

.direction-button {
  height: 20px;
  width: 20px;
  background-color: black;
}

.action-button {
  height: 20px;
  width: 20px;
  background-color: black;
}